.content
    .content-box.wid1200
        .row.option-btn
            .col-xs-6
                .btn-qiehuan
                    | 热点主题
            .col-xs-6
                .btn-qiehuan.selected
                    | 异常变动主题
        .row.option-content
            .col-xs-3
                include words
            .col-xs-9
                include list
            .col-xs-12
                img(src="images/loding.gif")