.footer
    .foot-box
        .foot-logo
            img(src='./images/AUTH.png', alt='')
            p 易瑞授权访问系统6.2
        .foot-mage
            ul.foot-ul1
                li
                    a(href='javascript:;') 公司简介
                li
                    a(href='javascript:;') 联系方式
                li
                    a(href='javascript:;') 招聘信息
        .option-button
            .option-box
                .system-notice-button
                    a(href="notice.html")
                        img(src='images/op1.png', alt='')
                        | &nbsp;&nbsp;系统公告
                .common-problem-button
                    a(href="problem.html")
                        img(src='images/op2.png', alt='')
                        | &nbsp;&nbsp;常见问题
                .message-board-button
                    a(href="message.html")
                        img(src='images/op3.png', alt='')
                        | &nbsp;&nbsp;留言板
            ul.foot-ul2
                li 版权所有©2016
                li 北京英富森软件股份有限公司
                li 京ICP备14019076号

