.wenzhang-content
    .wenzhang-title
        .col-xs-7
            span 问政内容
        .col-xs-2
            span 问政部门
        .col-xs-3
            span 问政时间
    .wenzhang-list
        each item,i in ['', '', '', '', '', '', '', '']
            .w-item
                .col-xs-7
                    .w-title 问政就付款的时间看快点击发的水电费水电费水电费水电费水电费违法士大夫法士大夫规定和风格的话
                .col-xs-2
                    .w-unit 市政信箱
                .col-xs-3
                    .w-datetime 2016-01-01 12:20
                .clear
                .w-jianjie
                    img(src="../images/lan-jiantou.png")
                    h1 简介:
                    p 担惊受恐夸奖对方开始考多少积分加快速度附近安宽带缴费
    #page
