.theme-word
    .theme-title
        .col-xs-6.text-left 热点主题词
        .col-xs-6.layui-form
            .topn
                select(name='interest', lay-filter='aihao')
                    option(value='0') 10
                    option(value='1') 20
                    option(value='2') 30
                    option(value='3') 40
                    option(value='4') 50
    .theme-words
        ul.words-list
            each item,j in ['习近平', '会见', '洪秀柱', '谈了这几点', '非常重要', '两岸同胞', '带来了', '许多实实在在', '利益', '公道自在人心', '国共两党', '两岸关系', '和平发展', '作出的贡献', '已经写在历史上', '习近平强调', '命运共同体', '确保国家完整', '不被分裂', '维护中华民族', '根本利益', '全体中华儿女', '共同意志', '民族复兴']
                li
                    .col-xs-2
                        if j < 3
                            span.s-left.s-hot #{j + 1}
                        else
                            span.s-left #{j + 1}
                    .col-xs-8
                        span.s-center #{item}
                    .col-xs-2
                        span.s-right #{j + 1}