body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 微软雅黑,'Microsoft YaHei';
}

code, kbd, pre, samp {
  font-family: 'Microsoft YaHei', couriernew, courier, monospace;
}

small {
  font-size: 12px;
}

ul, ol {
  list-style: none;
}

a {
  color: #184e99;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

legend {
  color: #000;
}

fieldset, img {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  outline: none;
}

html, body {
  height: 100%
}

.clear {
  clear: both;
}
/*头部*/
.header{
  width:100%;
  height:90px;
  background:url(../images/backbar.jpg) repeat-x;
}
.header-content{
  width:1190px;
  height:90px;
  /*margin:0 auto;*/
  line-height:90px;
  vertical-align: middle;
}
.header-content span{
  font-size:20px;
  color:#fff;
  font-weight:900;
  vertical-align: middle;
}
/*底部*/
.footer{
  width:100%;
  height:98px;
  background:#f6f9fe;
  border-top:2px solid #0077dd;
  float:left;
}
.footer-con{
  height:98px;
  width:1190px;
  text-align: center;
  line-height:98px;
  font-size:14px;
  color:#3a3a3a;
}
.nav{
  width:100%;
  height:50px;
  background:#0077dd;
}
.nav-content{
  width:1190px;
  height:50px;
}
.nav-ul li{
  float:left;
  width:auto;
  height:50px;
 padding: 0 40px;
  font-size:16px;
  color:#fff;
  line-height:50px;
}
.nav-ul li:last-child{
  padding: 0 0;
  margin-left: -30px;
}
.nav-ul li:last-child button{
  line-height: 30px;
  margin-top: -2px;
}
.content{
  width:100%;
  height:auto;
  background:#f0f5fb;
  padding:30px 0;
  float:left;
}
.option-btn{
  width:100%;
  height:42px;
  margin-bottom:30px;
}
.btn-left,.btn-right{
  height:42px;
  text-align: center;
  line-height:42px;
  border:1px solid #bdbdbb;
  background:#f6f9fe;
  font-size:20px;
  color:#0078d9;
}
.click-color{
  background:#0077dd;
  color:#fff;
}

.option-content{
  width:100%;
  height:auto;
  float:left;
}
.theme-word{
  height:auto;
}
.theme-word1{
  display: none;
  height:auto;
}
.theme-title{
  width:100%;
  height:40px;
  border-bottom:1px solid #e1e6ec;
  color:#0077df;
  font-size:18px;
  line-height:40px;
}
.theme-title span{
  float:right;
  /*margin-top:10px;*/
}

.lt-layui{
  width:80px;
  height:30px;
  color:#00b3ee;
}
.layui-form{
  display: inline-block;
}
.little-title{
  width:100%;
  height:360px;
  border:1px solid #dde5f2;
  background:#fff;
  float:left;
  margin-top:20px;
  overflow-y:scroll ;


}
.nav-ul li .layui-form .title-time{
  width:90px;
  height:30px;
  color:#00b3ee;
  margin-left: 10px;
}
.nav-ul li .layui-form{
  .title-qujian1{
    width:120px;
    li{
      width:98px;
    }
  }
  .title-qujian2{
    width:120px;
    li{
      width:98px;
    }

  }
}
.nav-ul li .layui-form .title-time input{
  height:30px;
}
.nav-ul li  .title-time li{
  height:36px;
  color:#00b3ee;
  margin-left: 0;
  margin-right: 0;
  padding: 0 10px;
  width:68px;
  line-height: 36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.nav-ul li  .title-time li.layui-this{
  color: #fff;
}
.lt-ul{
  width:100%;
 height:auto;

}
.lt-ul li{
  width:100%;
  height:36px;
  line-height:36px;
  color:#7b7d7c;
  padding:0 10px;
  float:left;
}
.lt-ul .lt-li{
  background:#f6f9fe;
  border-bottom:1px solid #dde5f2;
  width:100%;
  height:36px;
  float:left;
  padding:0;
}
.lt-ul li a{
  width:92%;
  height:100%;
  float:left;
  border-bottom:1px dashed #e6e6e6;
  color:#7b7d7c;
}
.lt-ul li a span{
  color:#cdcdcd;
}
.lt-ul li a .right{
  float:right;
  margin-right:20px;
}
.lt-ul li a .left{
  width:50px;
  height:36px;
  float:left;
  line-height:36px;
  margin-left:10px;
}
.lt-ul li a .left img{
  margin-top:8px;
}
.theme-content{
   float:right;
   width: 72%;
 }
.theme-content1{
  display: none;
  float:right;
  width: 72%;
}
.gauge-outfit{
  width:100%;
  height:50px;
  background:#e4eef8;
  border:1px solid #bdbdbd;
  color:#7c7c7c;
  line-height:50px;
  text-align: center;
  font-size:18px;
}
.wenzhang-con{
  width:100%;
  height:auto;
}
.wenzhang-ul{
  width:100%;
  hiehgt:auto;
  float:left;
  border-left:1px solid #dde5f2;
  border-right:1px solid #dde5f2;
  background:#fff;
  cursor: pointer;
}
.wenzhang-ul li{
  width:100%;
  height:auto;
  border-bottom:1px solid #dde5f2;
  font-size:14px;
  color:#7c7c7c;
  padding:14px 0;
  background:#fff;
  float:left;
}

.wenzhang-ul li .col-xs-2{
  text-align: center;
}
.col-a{
  padding:0 20px;
  width:60%;
  height:auto;
}
.col-b,.col-c{
  float:right;
}
.wenzhang-ul li:hover{
  background:#ecfbff;
}

#page{
  width:100%;
  height:55px;
  border:1px solid #dde5f2;
  background:#fafafa;
  border-top:none;
  float:left;
  text-align: center;
}
/*浮动盒子*/
.floatbox{
  width:360px;
  height:auto;
  border-bottom:1px solid #dde5f2;
  border-left:1px solid #dde5f2;
  border-right:1px solid #dde5f2;
  padding:16px 26px;
  position:absolute;
  background:#f6f9fe;
  z-index: 1000;
  border-top:2px solid #0077dd;
}
.floatbox img{
  position: absolute;
  top:-10px;
  left:150px;
}
