/*头部*/
.wid1200 {
  width: 1000px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 90px;
  background: url(../images/backbar.jpg) repeat-x;
}

.header-content {
  height: 90px;
  /*margin:0 auto;*/
  line-height: 90px;
  vertical-align: middle;
}

.header-content span {
  font-size: 20px;
  color: #fff;
  font-weight: 900;
  vertical-align: middle;
}

/*底部*/
.footer {
  width: 100%;
  height: 98px;
  background: #f6f9fe;
  border-top: 2px solid #0077dd;

}

.footer-con {
  height: 98px;
  text-align: center;
  line-height: 98px;
  font-size: 14px;
  color: #3a3a3a;
}

/*nav*/
.nav {
  width: 100%;
  background: #0077dd;
}

/******clear float*******/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.nav-content {
  margin: 0 auto;
  font-size: 16px;
  padding: 10px 0;
  height:30px !important;
  .fleft {
    width: 300px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
  }
  .fright {
    height: 30px;
    line-height: 30px;
  }

  .nav-label {
    display: inline-block;
    color: #fff;
    float: left;
    margin:0 5px;
  }
  .nav-text {
    display: inline-block;
    color: #fff;
    margin-right: 10px;
    float: left;
  }
  .nav-select {
    display: inline-block;
    margin: 0px 5px;
    float: left;
  }
  .nav-button {
    display: inline-block;
    margin-left:5px;
    float: left;
    button {
      color: buttontext;
    }
  }
  .last-select {
    width: 100px;
    float: left;
  }
  .date-select {
    width: 140px;
    float: left;
    input {
      width: 100%;
      height: 30px;
      line-height: 30px;
      border: 0;
      border-radius: 2px;
      padding-left: 5px;
    }
  }
}

/*内容*/

.content {
  width: 100%;
  background: #f0f5fb;
}

.content-box {
  margin: 0 auto;
  padding: 30px 0;
}

.option-btn {
  width: 100%;
  height: 42px;
  margin-bottom: 30px;

  .btn-qiehuan {
    width: 100%;
    height: 42px;
    text-align: center;
    line-height: 42px;
    border: 1px solid #bdbdbb;
    background: #f6f9fe;
    font-size: 20px;
    color: #0078d9;
    cursor: pointer;
  }
  .btn-qiehuan:hover {
    background-color: #ECFBFF;
  }
  .selected {
    background: #0077dd;
    color: #fff;
  }
  .selected:hover {
    background: #0077dd;
  }
}

.option-content {
  min-height: 568px;
}

.loading {
  min-height: 568px;
  background: #fff;
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

.nodata {
  min-height: 568px;
  font-size: 16px;

}
.theme-word {
  box-sizing: border-box;
}

.theme-title {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #e1e6ec;
  font-size: 18px;
  line-height: 40px;
  padding-bottom: 5px;

  .text-left {
    color: #2486E1;
    font-weight: bold;
  }

  .topn {
    float: right;
    width: 70px;
    height: 30px;
    margin-top: 6px;
  }
}

.theme-words {
  height: 370px;
  border: 1px solid #dde5f2;
  background: #fff;
  margin-top: 10px;
  overflow-y: scroll;
  overflow-x: hidden;

  // 主题词列表
  .words-list {

    li {
      height: 36px;
      line-height: 36px;
      color: #7b7d7c;
      border-bottom: 1px dashed #e6e6e6;
      padding: 0 10px;
      overflow: hidden;
      cursor: pointer;

      .s-left {
        display: inline-block;
        width: 22px;
        height: 38px;
        text-align: center;
        margin-left: 0px;
      }
      .s-hot {
        background: url("../images/qw.png") center center no-repeat;
        color: #fff;
        font-weight: bold;
      }
      .s-center {
        margin-left: 4px;
      }
      .s-right {
        display: inline-block;
        width: 100%;
        text-align: center;
        color: #9A9A9A;
      }
    }
    li:hover {
      background: #ECFBFF;
      color: #184E99;
      border-bottom: 1px solid #dde5f2;
    }
    .selected {
      background: #ECFBFF;
      color: #184E99;
      font-weight: bold;
      border-bottom: 1px solid #dde5f2;
    }
  }
}

.wenzhang-content {
  padding-left: 20px;
  box-sizing: border-box;
}

.wenzhang-title {
  height: 50px;
  background: #e4eef8;
  border: 1px solid #bdbdbd;
  color: #7c7c7c;
  line-height: 50px;
  text-align: left;
  font-size: 18px;
  span {
    margin-left: 10px;
  }
}

.wenzhang-list {
  border-left: 1px solid #dde5f2;
  border-right: 1px solid #dde5f2;
  background: #fff;

  .w-item {
    cursor: pointer;
    border-bottom: 1px solid #dde5f2;
    color: #7c7c7c;
    line-height: 50px;
    .w-unit{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .col-title {
      position: relative;
      .w-jianjie {
        line-height: 25px;
        p{

        }
      }
    }
    .col-title:hover {
      .w-jianjie {
        display: block;
      }
    }

    .w-title {
      width: 85%;
      padding-left: 10px;
      overflow: hidden; /*自动隐藏文字*/
      text-overflow: ellipsis; /*文字隐藏后添加省略号*/
      white-space: nowrap; /*强制不换行*/
      span {
        background: red;
        border-radius: 10px;
        color: #fff;
        font-size: 10px;
        text-align: center;
        vertical-align: middle;
        padding: 0 5px;
      }
    }

    .w-unit {
      padding-left: 10px;
      color: #9A9A9A;
    }
    .w-datetime {
      padding-left: 10px;
      color: #9A9A9A;
    }
    .w-jianjie {
      display: none;
      width: 360px;
     height:auto;
      border-bottom: 1px solid #dde5f2;
      border-left: 1px solid #dde5f2;
      border-right: 1px solid #dde5f2;
      padding: 16px 26px;
      position: absolute;
      background: #e4eef8;
      z-index: 1000;
      border-top: 2px solid #0077dd;
      left: 70px;
      top: 42px;

      img {
        position: absolute;
        top: -10px;
        left: 150px;
      }
    }
  }
  .w-item:hover {
    background: #ECFBFF;
    color: #184E99;
    border-bottom: 1px solid #dde5f2;
  }
}

#page {
  width: 100%;
  border: 1px solid #dde5f2;
  background: #fafafa;
  border-top: none;
  float: left;
  text-align: center;
}

// 覆盖 layui
.layui-form-select {
  ul li.layui-this {
    background-color: #0077DD;
  }
  ul li.layui-this:hover {
    background-color: #0077DD;
  }
  ul li:hover {
    background-color: #ECFBFF;
  }
}

.layui-input, .layui-btn {
  height: 30px;
  line-height: 30px;
}

// 覆盖 ui-datepicker
.ui-datepicker {
  .ui-state-default {
    text-align: center;
  }
}