* {
  font-family: "Microsoft Yahei";
  font-size: 12px;
  display: flex;
}

body {
  font-family: "Microsoft Yahei";

  a {
    font-size: 18px;
    border-radius: 5px;
  }
}

:fullscreen a {
  display: flex
}
