doctype html
html
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        title 政民互动数据分析
        link(rel='stylesheet', href='vendor/iconfont/iconfont.css')
        link(rel='stylesheet', href='vendor/layui/css/layui.css')
        link(rel='stylesheet', href='vendor/jquery-ui/themes/redmond/jquery-ui.min.css')
        link(rel='stylesheet', href='css/all.css')
    body
        // header start
        include components/header
        // header end

        // header start
        include components/nav
        // header end

        // content start
        include components/content
        // content end

        // footer start
        include components/footer
        // footer end

        // public script
        script(src='vendor/jquery/dist/jquery.min.js')
        script(src='vendor/layui/layui.js')
        script(src='vendor/layui/lay/dest/layui.all.js')
        script(src="vendor/jquery-ui/jquery-ui.min.js")
        script(src="js/config.js")
        script(src="js/index_.js")